<header id="about-header">
	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="tagtitle text-center">ABOUT US</p>
					<h1 class="heading text-center">JOIN THE MOVEMENT</h1>
				</div>
			</div>
		</div>
	</div>
</header>
<div id="about">
	<div class="container about-container">
		<h5 class="heading">Summary</h5>
		<p class="about-text">You're a gamer, right? That's probably why you're here. We have a lot in common then, because just like you, we're gamers too! Victory Rush was created by two gamers needing a way to find other competitive players to group with. Just like you, we were tired of losing matches that we shouldn't be losing! We knew that we were too good to never progress. Normal online matchmaking was holding us back, and that's why we're here today.</p>
		<p class="about-text">Victory Rush is a reatime group finding service for gamers. What's that mean? Most online multiplayer games are dependent on you having a team. Red team vs blue team. When you play a match online, matchmaking hooks you up to other players, but not by skill level (most of the time). This presents an issue for competitive players who want to win. Are your teammates holding you back?</p>
		<p class="about-text">We never want to be discriminatory towards players of <strong>any</strong> skill level. We simply want you to be able to find people you <strong>want</strong> to play with. Players who share a common goal, and who have the drive to win, are going to be the most effective.</p>
		<h5 class="heading">What makes us different?</h5>
		<p class="about-text">Other established group finding services such as overwatchlf, lfg.pub, findoverwatch, and various other LFG sites are lacking two modern features that we have implemented: Realtime events, and <strong>actual</strong> grouping functionality.</p>
		<p class="about-text">Our services are realtime. When another user wants to play and creates a lobby here, you will see it within seconds. When that user decides they're not looking anymore and removes that lobby, it's gone within seconds, and you can't join it. That eliminates the possibility of you stumbling across a really old inactive lobby. That means more relevant and up to date data for you.</p>
		<p class="about-text">Now, some of the LFG websites that we listed above have live features. So, we had to find another way to make ourselves better. We have yet to find an LFG site that actually lets you request to join a lobby on the website itself. With Victory Rush, when you request to join a posted lobby, the lobby owner gets a realtime notification letting him know that you want to join. He's given your player name and an optional message that you provide. Kind of like a Facebook notification. So now instead of posting a lobby and having to stare at your PS4 dashboard waiting for someone to invite you, you can see an active list of players that want to join you <strong>right now</strong>.</p>
		<p class="about-text">We're constantly brainstorming new features and broadening game support, but we are in a beta-like environment. If there's ever a bug or a feature that you don't like, we strongly ask that you report it to us! We want to make your experience easy and awesome.</p>
		<p class="about-text">Ready to get started?</p>
		<div class="cta-button">
			<a class="btn btn-primary">BROWSE GAMES</a>
		</div>
	</div>
</div>