<div class="row">
	<div class="col-md-4">
		<div class="logo">
			<strong><span class="partridge-logo">Victory</span><span class="project-logo">Rush</span></strong>
		</div>
		<p><small>Thanks for using our services! We are still in a beta testing sort of mode, so if you find any bugs or features that are harming your user experience, we encourage you to let us know!</small></p>
		<p class="author">- Timothy Fisher & Dalton Dunn | CEO/Founder </p>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-2">
		<p class="heading"><small>SUPPORT</small></p>
		<hr />
		<ul class="nav">
			<li><a href="#">support@victoryrush.com</a></li>
			<li><a href="./about">About us</a></li>
		</ul>
	</div>
	<div class="col-md-2">
		<p class="heading"><small>SOCIAL</small></p>
		<hr />
		<ul class="nav">
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Instagram</a></li>
		</ul>
	</div>
	<div class="col-md-2">
		<p class="heading"><small>GAMES</small></p>
		<hr />
		<ul class="nav">
			<li><a href="./cod-infinite-warfare">COD: Infinite Warfare</a></li>
			<li><a href="./overwatch">Overwatch</a></li>
			<li><a href="./cod-remastered">COD: Remastered</a></li>
			<li><a href="./league-of-legends">League of Legends</a></li>
		</ul>
	</div>
</div>