<div class="jumbotron">
	<h2 class="text-center">Welcome to The Partridge Project</h2>
	<h5 class="help-block text-center">A group finding service for gamers</h5>
</div>
<div class="subheader">
	<h1 class="page-header pull-left" style="border-bottom: 0; margin-bottom: 0"><i class="fa fa-gamepad fa-1x" style="vertical-align: middle;"></i>&nbsp;&nbsp;Browse Games</h1>
	<div class="clearfix"></div>
</div>
<div class="row" style="margin-top: 20px;">
	<div class="col-sm-4">
		<div class="coming-soon">
			<a href="./cod-infinite-warfare">
				<div class="img-wrapper img-wrapper-cod-infinite-warfare"></div>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="coming-soon">
			<div class="img-wrapper img-wrapper-overwatch"></div>
			<div class="overlay"></div>
			<span class="coming-soon-text">Coming soon</span>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="coming-soon">
			<div class="img-wrapper img-wrapper-league-of-legends"></div>
			<div class="overlay"></div>
			<span class="coming-soon-text">Coming soon</span>
		</div>
	</div>
</div>