<header id="home-header">
	<div class="intro">
		<div class="container">
			<div class="col-md-6">
				<p class="tagtitle"><small>A GROUP FINDING SERVICE FOR GAMERS</small></p>
				<h1 class="heading">NEVER LOSE A MATCH AGAIN</h1>
				<div class="row">
					<div class="col-md-4">
						<hr />
					</div>
				</div>
				<div class="list-group feature-list">
					<li class="list-group-item"><i class="fa fa-clock-o fa-fw"></i>&nbsp; REALTIME</li>
					<!-- fa-object-group --><li class="list-group-item"><i class="fa fa-users fa-fw"></i>&nbsp; INTERACTIVE GROUPING</li>
					<li class="list-group-item"><i class="fa fa-cubes fa-fw"></i>&nbsp; GAME VARIETY</li>
				</div>
				<div class="row">
					<div class="col-md-4">
						<hr />
					</div>
				</div>
				<p class="intro-text">Victory Rush is a realtime group finding service for gamers. What does that mean? Well, most online multiplayer games are dependent on the fact that you have a team. When you play a match online in Call of Duty, the game hooks you up to other players who want to play and sorts you into teams. This isn't the greatest thing for competitive players looking to win...</p>
				<div class="intro-buttons">
					<button type="button" class="btn btn-primary"><small>BROWSE GAMES</small></button>
					<button type="button" class="btn btn-outline"><small>READ MORE</small></button>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="row" style="margin-top: 20px;">
	<div class="col-sm-4">
		<div class="coming-soon">
			<a href="./cod-infinite-warfare">
				<div class="img-wrapper img-wrapper-cod-infinite-warfare"></div>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="coming-soon">
			<div class="img-wrapper img-wrapper-overwatch"></div>
			<div class="overlay"></div>
			<span class="coming-soon-text">Coming soon</span>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="coming-soon">
			<div class="img-wrapper img-wrapper-league-of-legends"></div>
			<div class="overlay"></div>
			<span class="coming-soon-text">Coming soon</span>
		</div>
	</div>
</div>