<header id="home-header">
	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<p class="tagtitle"><small>A GROUP FINDING SERVICE FOR GAMERS</small></p>
					<h1 class="heading">NEVER LOSE A MATCH AGAIN</h1>
					<div class="row">
						<div class="col-md-4">
							<hr />
						</div>
					</div>
					<div class="list-group feature-list">
						<li class="list-group-item"><i class="fa fa-clock-o fa-fw"></i>&nbsp; REALTIME</li>
						<!-- fa-object-group --><li class="list-group-item"><i class="fa fa-users fa-fw"></i>&nbsp; INTERACTIVE GROUPING</li>
						<li class="list-group-item"><i class="fa fa-cubes fa-fw"></i>&nbsp; GAME VARIETY</li>
					</div>
					<div class="row">
						<div class="col-md-4">
							<hr />
						</div>
					</div>
					<p class="intro-text">Victory Rush is a realtime group finding service for gamers. What does that mean? Well, most online multiplayer games are dependent on the fact that you have a team. When you play a match online in Call of Duty, the game hooks you up to other players who want to play and sorts you into teams. This isn't the greatest thing for competitive players looking to win...</p>
					<div class="intro-buttons">
						<button id="btn-browse-games" type="button" class="btn btn-primary"><small>BROWSE GAMES</small></button>
						<a href="./about" class="btn btn-outline"><small>READ MORE</small></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div id="games">
	<div class="container">
		<h5 class="header">Active Games</h5>
	</div>
	<div class="container-fluid">
		<div class="row text-center"> <!-- remove text-center when all games added -->
			<div class="col-md-2">
				<a href="./cod-infinite-warfare">
					<div class="img-wrapper img-wrapper-cod-infinite-warfare">
						<h5 class="game-title">Call of Duty: Infinite Warfare</h5>
						<div class="progress">
							<div class="progress-bar thirtyto49" style="width: 30%"></div>
						</div>
						<div class="overlay"></div>
					</div>
				</a>
			</div>
			<div class="col-md-2">
				<a href="./overwatch">
					<div class="img-wrapper img-wrapper-overwatch">
						<h5 class="game-title">Overwatch: Origins Edition</h5>
						<div class="progress">
							<div class="progress-bar zeroto29" style="width: 20%"></div>
						</div>
						<div class="overlay"></div>
					</div>
				</a>
			</div>
			<div class="col-md-2">
				<a href="./cod-remastered">
					<div class="img-wrapper img-wrapper-cod-remastered">
						<h5 class="game-title">Call of Duty: Modern Warfare Remastered</h5>
						<div class="progress">
							<div class="progress-bar zeroto29" style="width: 15%"></div>
						</div>
						<div class="overlay"></div>
					</div>
				</a>
			</div>
			<div class="col-md-2">
				<a href="./league-of-legends">
					<div class="img-wrapper img-wrapper-league-of-legends">
						<h5 class="game-title">League of Legends</h5>
						<div class="progress">
							<div class="progress-bar fiftyto100" style="width: 50%"></div>
						</div>
						<div class="overlay"></div>
					</div>
				</a>
			</div>
			<div class="col-md-2">
				<a href="./battlefield-one">
					<div class="img-wrapper img-wrapper-battlefield-one">
						<h5 class="game-title">Battlefield One</h5>
						<div class="progress">
							<div class="progress-bar zeroto29" style="width: 10%"></div>
						</div>
						<div class="overlay"></div>
					</div>
				</a>
			</div>
			<div class="col-md-2">
				<a href="./rainbow-six-siege">
					<div class="img-wrapper img-wrapper-rainbow-six-siege">
						<h5 class="game-title">Rainbow Six Siege</h5>
						<div class="progress">
							<div class="progress-bar zeroto29" style="width: 5%"></div>
						</div>
						<div class="overlay"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div id="social-media">
	<div class="container">
		<div class="row">
			<div class="col-md-3" style="margin-top: 10px">
				<div class="media">
					<div class="media-left media-middle">
						<i class="fa fa-connectdevelop"></i>
					</div>
					<div class="media-body">
						<p class="tagtitle"><small>CONNECT</small></p>
						<small class="heading">SOCIAL MEDIA</small>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="social-media-icon-list">
				<div class="col-md-2 col-xs-3 text-center">
					<a href="#"><i class="fa fa-twitter-square fa-4x"></i></a>
				</div>
				<div class="col-md-2 col-xs-3 text-center">
					<a href="#"><i class="fa fa-facebook-square fa-4x"></i></a>
				</div>
				<div class="col-md-2 col-xs-3 text-center">
					<a href="#"><i class="fa fa-instagram fa-4x"></i></a>
				</div>
				<div class="col-md-2 col-xs-3 text-center">
					<a href="#"><i class="fa fa-envelope-square fa-4x"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>