<form id="join-lobby-modal" name="joinForm" class="form-horizontal modal-form" ng-submit="joinLobby(key)" novalidate>
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()">&times;</button>
		<h4 class="modal-title text-center"><strong>Join lobby</strong></h4>
	</div>
	<div class="modal-body">
		<p>You are requesting to join this lobby: <strong>{{ title }}</strong></p>
		<p>Please enter your player name below so this lobby owner can contact you:</p>
		<div class="form-group">
			<div class="container-fluid">
				<input type="text" name="join_player_name" class="form-control" placeholder="Your player name" ng-model="join_player_name" required>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" ng-disabled="joinForm.join_player_name.$invalid">Join</button>
	</div>
</form>
