<div class="jumbotron text-center">
	<h1>Browse lobbies <span class="label label-info">{{ lobbies.length }}</span></h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">	
			<div class="filter">
				<h1>Filter Lobbies</h1>
				<div class="form-group">
					<input type="text" name="search" class="form-control" placeholder="Search keywords ..." ng-model="search">
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Platform</label>
							<select class="form-control" ng-model="filterPlatform">
								<option value="{{ undefined }}">All</option>
								<option value="ps4">PS4</option>
								<option value="xbox">XBOX</option>
								<option value="pc">PC</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="lobby in lobbies | toArray | filter: search | filter: filterPlatform">
					<div class="row">
						<div class="col-sm-2">
							<img ng-src="./img/platform_icons/{{ lobby.platform }}.png" alt="Platform Icon: {{ lobby.platform }}" class="img-responsive platform-img platform-img-{{ lobby.platform }}" />
						</div>
						<div class="col-sm-7">
							<div class="info">
								<h2>{{ lobby.title }}</h2>
								<p>{{ lobby.description }}</p>
							</div>
						</div>
						<div class="col-sm-3">
							<h4><i class="fa fa-bolt"></i> {{ lobby.player_name }}</h4>
							<ul class="list-inline flex">
								<li class="square {{ lobby.voice }}">
									<i class="fa fa-microphone"></i>
								</li>
								<li class="square">
									<i class="fa fa-user-plus"></i>
								</li>
								<li class="square">
									<i class="fa fa-envelope"></i>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div id="lobby-form" class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="control-label">Platform</label>
					<select name="platform" class="form-control" ng-model="formData.platform">
						<option value="PS4">PS4</option>
						<option value="XBOX">XBOX</option>
						<option value="PC">PC</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label">Game Mode</label>
					<select name="mode" class="form-control" ng-model="formData.mode">
						<option value="multiplayer">Multiplayer</option>
						<option value="zombies">Zombies</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label">Player Name</label>
					<input type="text" name="player_name" placeholder="Gamertag, PSN ID, Username, etc..." class="form-control" ng-model="formData.player_name">
				</div>
				<div class="form-group">
					<label class="control-label">Lobby Title</label>
					<input type="text" name="title" placeholder="What are you looking for?" class="form-control" ng-model="formData.title">
				</div>
				<div class="form-group">
					<label class="control-label">Lobby Description</label>
					<textarea name="description" class="form-control" ng-model="formData.description"></textarea>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="voice" value="true" ng-model="formData.voice"> Voice
						</label>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createLobby()">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>