<!--
	ng-model = create a variable/object in the global scope and bind it to the value of its input field
-->

<!--
	All of this code is controlled by the lobbiesController
-->

<div class="card meetings cf">
	<div class="textintro">
		<h1>Add a Lobby</h1>
		<p>Use the form below to create a lobby</p>
	</div>
	<form name="add-form" ng-submit="addLobby()" ng-hide="activeLobby" novalidate>
		<div class="form-group">
			<input type="text" name="title" class="form-control" placeholder="Title of your lobby" ng-model="lobby.title" ng-required="true">
		</div>
		<button type="submit" class="btn"><i class="fa fa-plus-circle"></i> Create</button>
	</form>
</div>
<div class="text-center">
	<button type="button" class="btn btn-danger" ng-show="activeLobby" ng-click="removeLobby()"><i class="fa fa-trash"></i>  Remove Lobby</button>
</div>
<div class="clearfix"></div>
<ul class="list-group">
	<li class="list-group-item" ng-repeat="(key, lobby) in lobbies | orderBy: 'date'">
		{{ lobby.title }}
		<div class="pull-right">
			<button class="btn btn-sm" ng-hide="currentUser == lobby.lobby_owner" ng-click="open(key)" ng-class="{ 'btn-success': currentUser == players[key][currentUser].uid, 'btn-warning': currentUser != players[key][currentUser].uid }">
				<i class="fa" ng-class="{ 'fa-check': currentUser == players[key][currentUser].uid, 'fa-user-plus': currentUser != players[key][currentUser].uid }"></i>
			</button>
		</div>
	</li>
</ul>