<header class="header-{{ game }}">
	<div class="second-nav">
		<div class="container narrower-home">
			<ul class="nav nav-pills">
				<li class="active"><a href="#">Games</a></li>
				<li><a href="#">Forums</a></li>
				<li><a href="#">Feedback</a></li>
				<li><a href="#">Request a Game</a></li>
			</ul>
		</div>
	</div>
	<div class="container narrower-home">
		<div class="header-text">
			<div class="media">
				<div class="media-left media-middle">
					<div class="img-wrapper img-wrapper-{{ game }}"></div>
				</div>
				<div class="media-body media-middle">
					<h1 class="game-title">{{ gameFull }}</h1>
					<ul class="list-inline available-platforms">
						<li ng-repeat="platform in platforms">{{ platform }}{{ $last ? '' : ', ' }}</li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
</header>
<main>
	<div class="third-nav">
		<div class="container narrower-home">
			<ul class="nav nav-pills">
				<li class="active"><a href="#">Lobbies</a></li>
				<li><a href="#">Teams</a></li>
				<li><a href="#">Tournaments</a></li>
				<li><a href="#">Streams</a></li>
				<li><a href="#">Featured</a></li>
			</ul>
		</div>
	</div>
	<div class="page">
		<div class="container narrower-home">
			<div class="page-header">
				<div class="pull-left">
					<h2>Lobbies (76)</h2>
				</div>
				<div class="pull-right">
					<button class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Start a lobby</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-3">
					<div class="search-bar">
						<div class="input-group">
							<input type="text" name="search" ng-model="search"  class="form-control" placeholder="Search..">
							<div class="input-group-addon"><i class="fa fa-search"></i></div>
						</div>
					</div>
					<div class="filters">
						<div class="list-group" ng-controller="platformFilterController">
							<button type="button" class="list-group-item" value="{{ platform }}" ng-model="filterPlatform" ng-repeat="platform in platforms">{{ platform }}</button>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="lobbies">
						<ul class="list-group lobbies-list-group">
							<li class="list-group-item lobby">
								<div class="media">
									<div class="media-left media-middle">
										<div class="platform-img-wrapper">
											<img class="img-responsive" src="../img/platform_icons/pc.png" />
										</div>
									</div>
									<div class="media-left media-middle">
										<div class="mode-img-wrapper mode-img-competitive">
											<span><strong>C</strong></span>
										</div>
									</div>
									<div class="media-body">
										<h5 class="lobby-title">Competitive players only!&nbsp;&nbsp;&nbsp;<i class="fa fa-microphone"></i></h5>
										<p class="lobby-time">5 minutes ago</p>
										<p class="description">Just tired of losing for dumb reasons! Be on top of your game!</p>
									</div>
								</div>
							</li>
							<li class="list-group-item lobby">
								<div class="media">
									<div class="media-left media-middle">
										<div class="platform-img-wrapper">
											<img class="img-responsive" src="../img/platform_icons/ps4.png" />
										</div>
									</div>
									<div class="media-left media-middle">
										<div class="mode-img-wrapper mode-img-arcade">
											<span><strong>A</strong></span>
										</div>
									</div>
									<div class="media-body">
										<h5 class="lobby-title">Arcade play!&nbsp;&nbsp;&nbsp;<i class="fa fa-microphone"></i></h5>
										<p class="lobby-time">11 minutes ago</p>
										<p class="description">Just looking to have some fun!.</p>
									</div>
								</div>
							</li>
							<li class="list-group-item lobby">
								<div class="media">
									<div class="media-left media-middle">
										<div class="platform-img-wrapper">
											<img class="img-responsive" src="../img/platform_icons/xbox.png" />
										</div>
									</div>
									<div class="media-left media-middle">
										<div class="mode-img-wrapper mode-img-normal">
											<span><strong>N</strong></span>
										</div>
									</div>
									<div class="media-body">
										<h5 class="lobby-title">Lets play some normal!&nbsp;&nbsp;&nbsp;<i class="fa fa-microphone-slash"></i></h5>
										<p class="lobby-time">16 minutes ago</p>
										<p class="description">Normal play nothing stressful just want some decent players to play with that know the game so we don't get completely crushed.</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>