<header class="header-{{ game }}">
	<div class="second-nav">
		<div class="container narrower-home">
			<ul class="nav nav-pills">
				<li><a href="#">Games</a></li>
				<li><a href="#">Forums</a></li>
				<li><a href="#">Feedback</a></li>
				<li><a href="#">Request a Game</a></li>
			</ul>
		</div>
	</div>
	<div class="container narrower-home">
		<div class="header-text">
			<div class="media">
				<div class="media-left media-middle">
					<div class="img-wrapper img-wrapper-{{ game }}"></div>
				</div>
				<div class="media-body media-middle">
					<h1 class="game-title">{{ gameFull }}</h1>
					<ul class="list-inline">
						<li ng-repeat="platform in platforms">{{ platform }}</li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
</header>
<main>
	<div class="third-nav">
		<div class="container narrower-home">
			<ul class="nav nav-pills">
				<li><a href="#">Lobbies</a></li>
				<li><a href="#">Teams</a></li>
				<li><a href="#">Tournaments</a></li>
				<li><a href="#">Streams</a></li>
				<li><a href="#">Featured</a></li>
			</ul>
		</div>
	</div>
</main>