<!--
	ng-model = create a variable/object in the global scope and bind it to the value of its input field
-->

<!--
	All of this code is controlled by the lobbiesController
-->

<!--<div class="card meetings cf">
	<form name="add-form" ng-submit="addLobby()" ng-hide="activeLobby" novalidate>
		<div class="form-group">
			<input type="text" name="title" class="form-control" placeholder="Title of your lobby" ng-model="lobby.title" ng-required="true">
		</div>
		<button type="submit" class="btn"><i class="fa fa-plus-circle"></i> Create</button>
	</form>
</div>-->
<!--<div class="text-center">
	<button type="button" class="btn btn-danger" ng-show="activeLobby" ng-click="removeLobby()"><i class="fa fa-trash"></i>  Remove Lobby</button>
</div>-->
<div class="container narrow">
	<div class="pull-left">
		<button ng-show="activeLobby" ng-click="removeLobby()" id="btn-remove" class="btn btn-danger">Remove</button>
		<button ng-hide="activeLobby" id="btn-create" class="btn btn-warning"><!--<i class="fa fa-plus"></i> -->Create</button>
	</div>
	<div ng-controller="labelBtnController">
		<div class="pull-right">
			<div class="btn-group filter-platforms">
				<label class="btn" ng-model="filter_platform.all" uib-btn-radio="'All'">All</label>
				<label class="btn" ng-model="filter_platform.ps4" uib-btn-radio="'PS4'">PS4</label>
				<label class="btn" ng-model="filter_platform.xbox" uib-btn-radio="XBOX">XBOX</label>
				<label class="btn" ng-model="filter_platform.pc" uib-btn-radio="PC">PC</label>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<form name="add-form" ng-submit="addLobby()" ng-hide="activeLobby" novalidate>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<select name="add-platform" class="form-control" ng-model="lobby.platform" ng-required="true">
						<option value="{{ undefined }}">Select a platform</option>
						<option value="ps4">PS4</option>
						<option value="xbox">XBOX</option>
						<option value="pc">PC</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<select name="group-type" class="form-control" ng-model="lobby.type" ng-required="true">
						<option value="{{ undefined }}">The group type</option>
						<option value="LFG">LFG</option>
						<option value="LFM">LFM</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<input type="text" name="title" ng-model="lobby.title" class="form-control" ng-required="true" placeholder="Title of your lobby">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<textarea class="form-control" name="description" ng-model="lobby.description" rows="5" placeholder="A little more detail on what you're looking for ..."></textarea>
				</div>
			</div>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" name="mic" value="true" ng-model="lobby.mic">Mic
			</label>
		</div>
		<button type="submit" class="btn btn-warning">Submit</button>
	</form>
	<ul class="list-group lobby-list">
		<li class="list-group-item" ng-repeat="(key, lobby) in lobbies | orderBy: 'lobby.date'">
			<div class="row lobby">
				<div class="col-xs-1 platform-wrapper">
					<div class="platform-icon text-center">
						<div class="icon-bg">
							<img ng-src="../img/platform_icons/{{ lobby.platform }}.png" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-xs-2 text-center">
					<div class="group-type">
						<span>{{ lobby.group_type }}</span>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="row">
						<div class="col-xs-12">
							<div class="lobby-title">
								<span>{{ lobby.title }}</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="lobby-description">
								<span class="text-muted">{{ lobby.description }}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-1 text-center">
					<div class="mic">
						<i ng-class="{ 'fa-microphone': lobby.mic == true, '': lobby.mic == false }" class="fa fa-2x"></i>
					</div>
				</div>
				<div class="col-xs-2 text-center">
					<div class="actions">
						<button class="btn btn-sm" ng-hide="currentUser == lobby.lobby_owner" ng-click="open(lobby.lobby_owner)" ng-class="{ 'btn-success': currentUser == players[lobby.lobby_owner][currentUser].uid, 'btn-warning': currentUser != players[lobby.lobby_owner][currentUser].uid }">
							<i class="fa fa-2x" ng-class="{ 'fa-check': currentUser == players[lobby.lobby_owner][currentUser].uid, 'fa-user-plus': currentUser != players[lobby.lobby_owner][currentUser].uid }"></i>
						</button>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>

<div class="notifications" ng-show="activeLobby">
	<button class="btn btn-primary">
		Players <span class="badge">{{ numberPlayers }}</span>
	</button>
	<div class="notif-box">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="(key, info) in playerNames">
				{{ info.player_name }} wants to join your lobby
			</li>
		</ul>
	</div>
</div>
