<nav class="navbar navbar-default home-navbar" ng-class="{ 'navbar-colored': game }">
	<div class="container narrower-home">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
				<i class="fa fa-bars" style="color: #888;"></i>
			</button>
			<a href="#" class="navbar-brand">
				<strong>VICTORYRUSH</strong>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navigation">
			<ul class="nav navbar-nav not-mobile">
				<li ng-class="{ 'active': page == 'home' }"><a href="./"><i class="fa fa-globe"></i></a></li>
				<!--<li><a href="#">Contact us</a></li>-->
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">About</a></li>
			</ul>
		</div>
	</div>
</nav>
<div ng-controller="pushNotificationController" ng-if="pushNotif" class="push-notification animate slide">
	<span>{{ pushNotif }}</span>
	<button type="button" class="close" ng-click="closeNotif()">&times;</button>
</div>

