<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
				<i class="fa fa-bars"></i>
			</button>
			<a href="#" class="navbar-brand">
				<span class="partridge-logo">Partridge</span>
				<span class="project-logo">Project</span>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navigation">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Games</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				
			</ul>
		</div>
	</div>
</nav>

