<form id="add-new-modal" name="addForm" class="modal-form" ng-submit="addLobby()" novalidate>
	<div class="modal-body">
		<div class="form-group">
			<label class="platform">Platform</label>
			<div class="btn-group">
				<label class="btn" ng-model="startPlatform" uib-btn-radio="'ps4'" ng-click="setPlatform(startPlatform)">PS4</label>
				<label class="btn" ng-model="startPlatform" uib-btn-radio="'xbox'" ng-click="setPlatform(startPlatform)">XBOX</label>
				<label class="btn" ng-model="startPlatform" uib-btn-radio="'pc'" ng-click="setPlatform(startPlatform)">PC</label>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default btn-prev" ng-show="active > 0" ng-click="active = active - 1">Previous</button>
		<button type="button" class="btn btn-default" ng-if="active == 0" ng-click="close()">Cancel</button>
		<button type="button" class="btn btn-primary btn-next" ng-show="active == 0" ng-disabled="addForm.platform.$invalid || addForm.mode.$invalid" ng-click="active = active + 1">Next</button>
		<button type="button" class="btn btn-primary btn-next" ng-show="active == 1" ng-disabled="addForm.name.$invalid" ng-click="active = active + 1">Next</button>
		<button type="submit" class="btn btn-primary btn-submit" ng-if="active == 2" ng-disabled="addForm.title.$invalid">Submit</button>
     </div>
</form>