<form id="start-new-modal" name="addForm" class="modal-form" ng-submit="addLobby()" novalidate>
	<div class="modal-header">
		<h2>Create your lobby</h2>
		<button type="button" class="close" ng-click="close()"><span>&times;</span></button>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label class="col-md-2 button-label">Platform</label>
			<div class="btn-group">
				<label class="btn btn-primary" ng-model="startPlatform" uib-btn-radio="'{{ platform }}'" ng-click="setPlatform(startPlatform)" ng-repeat="platform in platforms">{{ platform }}</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 button-label">Mode</label>
			<div class="btn-group">
				<label class="btn btn-primary" ng-model="startMode" uib-btn-radio="'{{ mode }}'" ng-click="setMode(startMode)" ng-repeat="mode in modes">{{ mode }}</label>
			</div>
		</div>
		<div class="form-group">
			<label>Title</label>
			<input type="text" name="title" placeholder="The lobby title" class="form-control" ng-model="title">
		</div>
		<div class="form-group">
			<label>Description</label>
			<textarea rows="4" name="description" ng-model="description" class="form-control" placeholder="A little more detail..."></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<div class="pull-left">
			<button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
			<button type="submit" class="btn btn-primary btn-submit" ng-disabled="addForm.title.$invalid">Create lobby</button>
		</div>
     </div>
</form>