html {
  height: 100%;
  font-size: 100%;
}
body {
  min-height: 100%;
  position: relative;
  font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.3em;
  color: #242729;
  background-color: #fff;
}
.narrower {
  padding-left: 60px;
  padding-right: 60px;
}


/* 
--------------------------------------------------------
* =========== NAVIGATION STYLES =========== 
*/

.navbar {
  min-height: 34px;
  height: 34px;
}
.navbar-default {
  background-color: rgba(12,13,14,0.86);
  border: 0;
  border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
  line-height: 4px; /* 30px less than navbar height */
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #777;
  background-color: #3b4045;
}
.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #eff0f1;
  color: #777;
}
.navbar-brand {
  font-size: 13px;
  font-weight: bold;
  line-height: 4px;
}
.partridge-logo {
  color: #fff;
}
.project-logo {
  color: #33b5e5;
  font-weight: bold;
}

/* 
* =========== END NAVIGATION STYLES =========== 
--------------------------------------------------------
*/

.push-notification {
  position: absolute;
  bottom: 45px;
  right: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.8% 5%;
  z-index: 1000;
  color: #fff;
}
.push-notification .close {
  position: absolute;
  right: 15px;
  top: 45%;
  transform: translate(0, -50%);
}
.animation.ng-enter {
  /*-webkit-animation: fadeInDown 1s;
  -moz-animation: fadeInDown 1s;
  -ms-animation: fadeInDown 1s;
  -o-animation: fadeInDown 1s;
  animation: fadeInDown 1s;*/
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.slide.ng-enter {
  -webkit-animation: fadeInUp 0.5s;
  -moz-animation: fadeInUp 0.5s;
  -ms-animation: fadeInUp 0.5s;
  -o-animation: fadeInUp 0.5s;
  animation: fadeInUp 0.5s;
}
.slide.ng-leave {
  -webkit-animation: fadeOutDown 0.5s;
  -moz-animation: fadeOutDown 0.5s;
  -ms-animation: fadeOutDown 0.5s;
  -o-animation: fadeOutDown 0.5s;
  animation: fadeOutDown 0.5s; 
}
textarea {
  resize: none;
}
.my_lobby {
  border-color: #00C851;
  margin-bottom: 5px;
}
.add-wrapper {
  margin: 40px 0;
}
.label-secondary {
  background-color: #aa66cc;
}
.no-mic {
  opacity: 0.5;
}
.lobby-list .top {
  margin-bottom: 10px;
}
.tab-content .form-group:first-child {
  margin-top: 30px;
}
.modal-form .modal-header {
  position: relative;
  background-color: #2BBBAD;
  color: #fafafa;
}
.modal-form .modal-header .close {
  position: absolute; 
  right: 15px;
  top: 50%; 
  transform: translate(0, -50%);
}
.modal-form .modal-body, .modal-form .modal-footer, .modal-form .nav-tabs > li.active > a {
  background-color: #f5f5f5;
}
.btn-next, .btn-submit {
  background-color: #4285F4;
}