html {
  height: 100%;
  font-size: 15px;
}
body {
  min-height: 100%;
  position: relative;
  background-image: url('../img/cover_art/cod-infinite-warfare.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #888888;
  font-size: 15px;
}
textarea {
  resize: none;
}
.label-info {
  background-color: #9933cc;
}
.glyphicon-fire {
  color: orange;
}
.list-group-item {
  padding: 0;
  /*background-color: #222222;*/
  background-color: transparent;
  /*border-color: #282828!important;*/
  border: none;
}
#btn-create, #btn-remove {
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.15rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
}
.game-mode {
  font-size: 11px!important;
}
#btn-create {
  background-color: orange;
  color: #fff;
}
.narrow {
  padding-left: 100px;
  padding-right: 100px;
}
.icon-bg {
  background-color: transparent;
  border-radius: 6px;
  padding: 5%;
}
.group-type span {
  font-weight: bold;
  font-size: 1.5rem;
}
.lobby-title span {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}
.lobby-list .label {
  font-size: 15px;
}
.lobby-list label {
  font-size: 20px!important;
}
.lobby {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.vertical-flex {
  display: flex;
  align-items: center;
}
.actions {
  margin-top: 10px;
}
.label-danger {
  cursor: pointer;
}
form[name="add-form"] {
  display: none;
  margin-top: 10px;
}
.notifications {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  height: auto;
  max-height: 200px;
  overflow-y: auto;
}
.notifications button {
  padding-left: 200px;
  padding-right: 200px;
  background-color: rgba(20, 20, 20, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.notifications button:hover, .notifications button:focus, .notifications button:active {
  background-color: rgba(20, 20, 20, 0.6)!important;
  border-color: rgba(0, 0, 0, 0.6)!important;
}
.notif-box ul {
  margin-bottom: 20px;
  display: none;
}
.filter-platforms label {
  background-color: #3c3c3c;
  color: rgba(255, 255, 255, 0.75);
  padding: 10px 20px 10px 20px;
}
.filter-platforms label:first-child {
  border-bottom-left-radius: 0;
}
.filter-platforms label:last-child {
  border-bottom-right-radius: 0;
}
.filter-platforms .active {
  background-color: #222222;
  border-color: #222222;
  color: #fff;
}
.filter-platforms label:hover {
  color: #fff;
  border-color: transparent;
}
.lobby-panel {
  border-color: #282828;
  background-color: #222222;
}
.list-group-item:nth-child(even) .lobby-panel {
  background-color: #3c3c3c!important;
}
.lobby-panel .panel-heading, .lobby-panel .panel-footer {
  background-color: #3c3c3c;
}
.panel {
  border-top-right-radius: 0;
}
.lobby-list .panel-body {
  padding-top: 30px;
  padding-bottom: 30px;
}


@font-face {
  font-family: 'Big Noodle';
  src: url('../fonts/big_noodle_titling.ttf') format('truetype');
}
.navbar-default {
  background-color: #060606;
  border: none;
  border-bottom: 1px solid #282828;
  border-radius: 0;
}
.navbar-brand {
  font-family: 'Big Noodle', Impact, sans-serif;
  font-size: 30px;
}
.navbar-collapse .navbar-nav > li.active > a, .navbar-collapse .navbar-nav > li.active > a:hover, .navbar-collapse .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #fff;
  font-weight: bold;
}
.partridge-logo {
  color: silver;
}
.project-logo {
  color: orange;
}
.welcome {
  background-color: #151515;
  color: inherit;
  padding: 48px 60px;
  border-radius: 6px;
}
.welcome h1 {
  color: #fff;
  font-family: 'Big Noodle', Impact, sans-serif;
  font-size: 63px;
  margin: 0;
  line-height: 0.8;
}
.welcome h1 > span {
  display: block;
}
.welcome h1 small {
  font-style: italic;
  color: #888888;
}

.add-lobby {
  background-color: #151515;
  border-radius: 6px;
  padding: 36px 20px;
}
.filter-lobbies {
  background-color: #151515;
  margin-top: 10px;
  padding-bottom: 50px;
}
.filter-lobbies h3 {
  text-transform: uppercase;
  color: silver;
  font-family: 'Big Noodle', Impact, sans-serif;
}
